/* css styles */
h1 {
    width: 100%;
    height: 3em;
    padding: 2em 1em;
    background: transparent;
    text-align: center;
}

div {
    text-align: left;
    }

.gallery > div {
    columns: 3 12rem;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }

.gallery img {
    display:block;
    width:100%;
    margin-bottom: 0.5rem;
  }

.player {
    border-radius: 20px;
    overflow: clip;
}
